[submodule "tools/pybind11"]
	path = tools/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = master
[submodule "tools/mockturtle"]
	path = tools/mockturtle
	url = https://github.com/lsils/mockturtle.git
	branch = master
